<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Registration</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<style>
		input[type=text] {
    box-sizing: border-box;
}
	</style>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-sm-4"></div>
				<div class="col-sm-4"><a href="/"><img style="height: 50px; width: 180px;  margin-left: 88px; margin-top: 8px;" src="/images/logo.png" alt=""></a>      
				<form action="/registrationdata" name="formname" method="post" style="border: 1px solid lightgrey; padding: 10px 15px; ; border-radius: 5px; margin-top: 22px;" onsubmit="return validation();">
					<h3>Create Account</h3>
					<br>
					<strong>Your name</strong>
					<input type="text" name="uname" id="uname" class="form-control">
					<p id="error" style="color: red;"></p>
					<br>
					<strong>Email address</strong>
					<input type="text" name="email" id="email" class="form-control">
					<p id="error1" style="color: red;"></p>
				<select style="width: 249px;" class="form-control hidden" name="status">
					  <option value="confirm">Confirm</option>
					  <option value="Unconfirm">Unconfirmed</option>
				</select> 
				<br>
					<strong>Mobile number(Optional)</strong>
					<div class="row">
						<div class="col-sm-3 col-xs-4">
							<select style="width: 90px;" name=""  class="form-control">
						<option value="IN +91">IN +91</option>
					        </select>
				        </div>
						<div class="col-sm-9 col-xs-8">  
					<input type="number" name="mob" id="mob" class="form-control" placeholder="Mobile number"></div>
					</div><!-- end of row-->
					<p id="error2" style="color: red;"></p>
					<br>
					<strong>Password</strong>
					<input type="password" name="upass" id="upass" class="form-control" placeholder="At least 6 characters">
					<p id="error3" style="color: red;"></p>
					<br>
					<small><h5>We will send you a text to verify your Phone.Message and Data rates may apply.
					</h5></small>
					<br>
					<input type="submit" value="Continue" class="btn btn-warning form-control">
					<br><br><br>
					Already have an account?<a style="text-decoration: none;" href="/userlogin">Sign in &rtrif; </a>
				</form>
			</div>
			<div class="col-sm-4"></div>
		</div>
	</div>
<script src="/js/jquery.js"></script>	
<script src="/js/bootstrap.js"></script>
<script src="js/registrationvalidation.js"></script>	
</body>
</html>