         <div class="form-group">

         		<div class="col-md-3">
					<label for="">User Name : </label>
				</div>
			    <div class="col-md-9">
					<input type="text" class="form-control" name="uname" id="uname" required="">
				</div>

			    <div class="col-md-3">
					<label for="">Mobile No. : </label>
				</div>
			    <div class="col-md-9">
					<input  type="text" class="form-control" id="mob" name="mob" value="">
				</div>
				
			    <div class="col-md-3">
					<label for="">Email Id : </label>
				</div>
			    <div class="col-md-9">
					<input type="text" class="form-control"  id="email" name="email" 	value="">
				</div>

			    <div class="col-md-3">
				<label for="">Status : </label>
				</div>
			    <div class="col-md-9">
					<select id="status"  class="form-control" name="status"  value="">
					  <option value="">Select Status</option>
					  <option value="Confirm">Confirm</option>
					  <option value="Unconfirmed">Unconfirmed</option>
					</select> 
				</div>
			</div>