
					<div class="form-group">
						<label class="col-md-3">State id :</label>
						<div class="col-md-9">
						<input type="text"  readonly="readonly" class="form-control" name="sid" id="sid">
						</div>
					</div>&nbsp;
					<div class="form-group">	
						<label class=" col-md-3 control-label">State Name :</label>
						<div class="col-md-9">
							<input type="text" class="form-control" id="sname" name="sname" >
						</div>
					</div>							
					