 		<style>
		.modal-body div,label{
		margin-top: 9px;
		}
		</style>
		
		<div class="form-group">

			    <div class="col-md-3">
				<label for="">User Id : </label>
				</div>
				<div class="col-md-9">
				<input type="text" class="form-control" id="uid" readonly="readonly" name="uid">
				</div>

				<div class="col-md-3">	
				<label for="">Username : </label>
				</div>
				<div class="col-md-9">
				<input type="text" class="form-control" id="email" name="uname">
				</div>

				<div class="col-md-3">
				<label for="">Mobile No. : </label>
				</div>
				<div class="col-md-9">
				<input type="text" class="form-control" id="mob" name="mob">
				</div>

				<div class="col-md-3">
				<label for="">Email Id : </label>
				</div>
				<div class="col-md-9">
				<input type="text" class="form-control" id="email" name="email">
				</div>

				<div class="col-md-3">
				<label for="">Status : </label>
				</div>
				<div class="col-md-9">
				 <select style="width: 249px;" class="form-control" name="status">
                  <option >Confirm</option>
                  <option >Unconfirmed</option>
                 </select>
				</div>

		</div>
